<div class="container">
  <h1>User Management</h1>


  <div class="add-user">
    <input [(ngModel)]="newName" placeholder="Name" />
    <input [(ngModel)]="newEmail" placeholder="Email" />
    <input [(ngModel)]="newAge" type="number" placeholder="Age" />
    <select [(ngModel)]="newStatus">
      <option value="offline">Offline</option>
      <option value="online">Online</option>
    </select>
    <button (click)="addUser()">Add User</button>
  </div>


  <div class="mass-edit">
    <button (click)="setAllOnline()">Set All Online</button>
    <button (click)="setAllOffline()">Set All Offline</button>
    <button (click)="userService.clearAll()">Remove All</button>
  </div>

  <hr />


  <ul>
    @for (user of userService.users(); track user.id) {
      <li>
        <b>{{ user.name }}</b> ({{ user.email }}, Age: {{ user.age }}) -
        <span [style.color]="user.status === 'online' ? 'green' : 'red'">
          {{ user.status }}
        </span>

        <button (click)="userService.removeUser(user.id)">X</button>

  
        <div>
          <input
            placeholder="Edit name"
            (change)="userService.updateUser(user.id, { name: $any($event.target).value })"
          />
          <input
            placeholder="Edit email"
            (change)="userService.updateUser(user.id, { email: $any($event.target).value })"
          />
          <input
            type="number"
            placeholder="Edit age"
            (change)="userService.updateUser(user.id, { age: $any($event.target).valueAsNumber })"
          />

          <select
            [ngModel]="user.status"

          >
            <option value="offline">Offline</option>
            <option value="online">Online</option>
          </select>
        </div>
      </li>
    }
  </ul>
</div>

<!-- 
    (ngModelChange)="userService.updateUser(user.id, { status: $event as 'online' | 'offline' })"

    Ovaj deo koda treba da stoji ispod [ngModel]="user.status", ali sam dobio error.
-->